<div class="container upper">
  <div class="row cv-main">
    <div class="contact-info">
      <div class="col-xs-8">
        <div class="col-xs-12 contact-name">
          <h1 class="in-pdf"><%= user.last_name %> <%= user.first_name %></h1>
        </div>
        <div class="row">
          <div class="col-xs-3 contact-title">
            <span> <%= t ".date_of_birth" %> </span>
          </div>
          <div class="contact-content col-xs-9">
            <span><%= user.date_of_birth %></span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3 contact-title">
            <span> <%= t ".gender" %> </span>
          </div>
          <div class="contact-content col-xs-9">
            <span><%= user.sex %></span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3 contact-title">
            <span> <%= t ".phone" %> </span>
          </div>
          <div class="contact-content col-xs-9">
            <span><%= user.phone_number %></span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3 contact-title">
            <span> <%= t ".email" %> </span>
          </div>
          <div class="contact-content col-xs-9">
            <span><%= user.email %></span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3 contact-title">
            <span> <%= t ".address" %> </span>
          </div>
          <div class="contact-content col-xs-9">
            <span><%= user.address %></span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3 contact-title">
            <span> <%= t ".website" %> </span>
          </div>
          <div class="contact-content col-xs-9">
            <span><%= user.website %></span>
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <img class="user-image" src="<%= root_url %>/thanh.jpg" alt="avatar"
          type="image" height="170px"/>
      </div>
    </div>
    <div class="form-info">
      <% forms.each do |form| %>
        <div class="form-info col-xs-12">
          <div class="col-xs-12 form-title">
            <div class="input-text">
              <%= form.catalogue_form_name %>
            </div>
            <hr/>
          </div>
          <% form.sub_forms.each do |sub_form| %>
            <div class="col-xs-12">
              <div class="row subform">
                <% if sub_form.time %>
                <div class="col-xs-3">
                  <%= sub_form.time %>
                </div>
                <% end %>
                <div class="col-xs-<%= sub_form.time ? 9 : 12 %> title-content">
                  <div class="input-text">
                    <div class="title">
                      <%= sub_form.title %>
                    </div>
                  </div>
                  <div class="input-text">
                    <%= sub_form.content %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
