<%= form_for resource, as: resource_name, url: unlock_path(resource_name),
  html: {class: "form-horizontal", method: :post} do |f| %>
  <%= field_set_tag  t(".title") do %>
    <% if !resource.errors.empty? %>
      <div class="alert alert-danger">
        <%= devise_error_messages! %>
      </div>
    <% end %>

    <div class="control-group">
      <%= f.label :email, class: "control-label" %>
      <div class="controls">
        <%= f.email_field :email, autofocus: true, class: "input-xlarge" %>
      </div>
    </div>
    <br>
    <div class="control-group">
      <div class="controls">
        <%= f.submit t(".submit"), class: "btn btn-success" %>
      </div>
    </div>
  <% end %>
<% end %>

<%= render "users/shared/links" %>
